.carousel {
  display: flex;
  position: relative;
}
.carouselTrackContainer {
  overflow: hidden;
}
.carouselArrows {
  position: absolute;
  top: 93px;
  z-index: 2;
}
.carouselArrow-arrowLeft {
  left: -12px;
}
.carouselArrow-arrowRight {
  right: -12px;
}
.carouselTrack {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}
.carouselTrack.transition {
  transition: transform;
}
